.modal.passwordchangemodal {
  display: none;
  position: fixed;
  width: max;
  height: max;
}

.black-squareee {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000; /* 모달 배경색 */
  border: 12px solid black;
  width: 485px;
  height: 495px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 모달 그림자 효과 추가 */
  border-radius: 35px; /* 모달 테두리 둥글게 만듭니다. */
}

/* White square 스타일 */
.white-squareee {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 490px;
  height: 475px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.close {
  color: #ffffff;
  background-color: rgb(225, 54, 20);
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  height: 40px;
  display: inline;
  justify-content: center;
  border: 2.5px solid black;
  margin-top: 230px;
  margin-left: 190px;
  position: absolute;
}

.ok {
  color: #ffffff;
  background-color: rgb(2, 200, 190);
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  height: 40px;
  display: inline;
  justify-content: center;
  border: 2.5px solid black;
  margin-top: 230px;
  margin-left: 285px;
  position: absolute;
}
